/**
 * Eléments principaux
 */
 body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: antiquewhite;
}

.appLogo {
  height: 30vmin;
  -webkit-transform: scaleX(-1); /*reverse the logo*/
}

#function {
  font-weight: bold;
}

div {
  background-color: gray;
  padding: 10px;
}

input {
  background-color: aqua;
}